@import "tailwindcss";

.card-bg-wrapper {
  position: absolute;
  inset: -10%; /* Increase space around the card */
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

.card-confetti {
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
  animation: floatCard 6s infinite ease-in-out;
}

@keyframes floatCard {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.4;
  }
  50% {
    transform: translateY(-10px) rotate(180deg);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0) rotate(360deg);
    opacity: 0.4;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}
